<!--IniciaModal-->

<div class="modal-dialog modal-lg" role="document" >
      <div class="modal-content">
        <div class="panel panel-inverse" data-sortable-id="offcanvas-1">
            <div class="panel-heading">
                <h4 class="panel-title">Editar: "{{clase.titulo}}" </h4>                
            </div>  

            <form id="edit_clase" action=" {% url 'Edit_clase' clase.pk %}" method="POST" class="form-control">
                <div class="modal-body"> 
                    {% csrf_token %}
                    {{form.as_p}}
                    <p></p> 
                    <input type="hidden" id="id_bootcamp" name="id_bootcamp" >  
                </div>
                <div class="modal-footer">
                    <div class="section-container text-center">  
                        <button type="button" class="btn btn-secondary btn-lg btn-block" data-bs-toggle="modal" aria-label="close">Cancelar</button>
                        <button type="submit" class="btn btn-primary btn-lg btn-block" >Actualizar</button>
                    </div>    
                </div>
            </form>
        </div>
    </div>
</div>

  <!--EndModal-->


 