{% extends "recuperarPassword/base_login.html" %}
{% block content %}

<div class="login-content">
    <form method="post" action="" class="fs-13px">
        <h3>RESTABLECER CONTRASEÑA</h3>
        <div class="mb-3">
            <div class="row gx-3">
                <p>¿Has olvidado tu clave? <br>Introduce tu dirección de correo a 
                    continuación y te enviaremos por correo electrónico las instrucciones 
                    para establecer una nueva.</p>
                {% csrf_token %}								
                {{form}}
                <p></p>                               
                <div class="mb-15px">
                    <button type="submit" class="btn btn-primary d-block h-45px w-100 btn-lg fs-14px">Enviar correo electrónico</button>
                </div>  
                <div class="mb-4 pb-5">
                    Haz clic <a href="{% url 'Iniciar_Sesion' %}">aquí</a> para ingresar de nuevo.
                </div>             
                <hr class="bg-gray-600 opacity-2" />
                <div class="text-gray-300 text-center text-white bg-opacity-50 mb-0">
                    &copy; Color Admin All Right Reserved 2022
                </div>
            </div>
        </div>
    </form>
</div>		
{% endblock %}