{% extends "home/base.html" %}
{% block title %} Home {% endblock title %}
{%load static %}

{% block content %}
<!-- begin #content -->
<div id="content" class="content">
	<!-- begin container -->
	<div class="container">
		<!-- begin row -->
		<div class="row row-space-30">
			<!-- begin col-9 -->
			<div class="col-lg-9">
				<!-- begin post-list -->
				<ul class="post-list">
					<li>
						<!-- begin post-left-info -->
						<div class="post-left-info">
							<!-- <div class="post-date">
								<span class="day">03</span>
								<span class="month">SEPT</span>
							</div>
							<div class="post-likes">
								<i class="fa fa-heart text-theme"></i>
								<span class="number">520</span>
							</div> -->
						</div>
						<!-- end post-left-info -->
						<!-- begin post-content -->
						<div class="post-content">
							<!-- begin post-image -->
							<div class="post-image post-image-with-carousel">
								<!-- begin carousel -->
								<div id="carousel-post" class="carousel slide" data-ride="carousel">
									<!-- begin carousel-indicators -->
									<ol class="carousel-indicators">
										<li data-target="#carousel-post" data-slide-to="0" class="active"></li>
										<li data-target="#carousel-post" data-slide-to="1"></li>
										<li data-target="#carousel-post" data-slide-to="2"></li>
									</ol>
									<!-- end carousel-indicators -->
									<!-- begin carousel-inner -->
									<div class="carousel-inner">
										<div class="carousel-item active">
											<a href="/static/home/img/post/univalle_bootcamp.jpg"><img class="d-block w-100" src="{% static 'home/img/post/univalle_bootcamp.jpg' %}" alt="" /></a>
										</div>
										<div class="carousel-item">
											<a href="/static/home/img/post/online_bootcamp.jpg"><img class="d-block w-100" src="{% static 'home/img/post/online_bootcamp.jpg' %}" alt="" /></a>
										</div>
										<div class="carousel-item">
											<a href="/static/home/img/post/bootcamp_home.png"><img class="d-block w-100" src="{% static 'home/img/post/bootcamp_home.png' %}" alt="" /></a>
										</div>
									</div>
									<!-- end carousel-inner -->
									<!-- begin carousel-control -->
									<a class="carousel-control-prev" href="#carousel-post" role="button" data-slide="prev">
									<span class="fa fa-chevron-left" aria-hidden="true"></span>
									</a>
									<a class="carousel-control-next" href="#carousel-post" role="button" data-slide="next">
									<span class="fa fa-chevron-right" aria-hidden="true"></span>
									</a>
									<!-- end carousel-control -->
								</div>
								<!-- end carousel -->
							</div>
							<!-- end post-image -->
							<!-- begin post-info -->
							<div class="post-info">
								<h4 class="post-title">
									<a href="">Acerca de nosotros</a>
								</h4>
								<!-- <div class="post-by">
									Posted By <a href="#">admin</a> <span class="divider">|</span> <a href="#">Sports</a>, <a href="#">Mountain</a>, <a href="#">Bike</a> <span class="divider">|</span> 2 Comments
								</div> -->
								<div class="post-desc">
									Nuestro objetivo es proveer una plataforma ideal para el perfilamiento de las capacidades del estudiante que garantice a las empresas 
									cubrir sus necesidades de empleabilidad.  Con Finishing School Bootcamps podrás crear programas intensivos que mejorarán ese talento 
									profesional que requieres para tu organización. 									
								</div>
							</div>
							<!-- end post-info -->
							<!-- begin read-btn-container -->
							<!-- <div class="read-btn-container">
								<a href="post_detail.html">Read More <i class="fa fa-angle-double-right"></i></a>
							</div> -->
							<!-- end read-btn-container -->
						</div>
						<!-- end post-content -->
					</li>
					<li>
						<!-- begin post-left-info -->
						<div class="post-left-info">
							<!-- <div class="post-date">
								<span class="day">21</span>
								<span class="month">OCT</span>
							</div>
							<div class="post-likes">
								<i class="fa fa-heart text-theme"></i>
								<span class="number">1,292</span>
							</div> -->
						</div>
						<!-- end post-left-info -->
						<!-- begin post-content -->
						<div class="post-content">
							<!-- begin post-image -->
							<div class="post-image">
								<a href="/static/home/img/post/acercade.png">
									<div class="post-image-cover" style="background-image: url('/static/home/img/post/acercade.png');"></div>
								</a>
							</div>
							<!-- end post-image -->
							<!-- begin post-info -->
							<div class="post-info">
								<h4 class="post-title">
									<a href="post_detail.html">Vamos más allá de la tecnología</a>
								</h4>
								<!-- <div class="post-by">
									Posted By <a href="#">admin</a> <span class="divider">|</span> <a href="#">Sports</a>, <a href="#">Parachute</a>, <a href="#">Blue Sky</a> <span class="divider">|</span> 12 Comments
								</div> -->
								<div class="post-desc">
									La asociación de nuestros clientes va más allá de la tecnología.  Nos gusta mantener lazos comunicacionales activos 
									y generar soluciones corporativas, mientras trabajamos en colaboración para crear experiencias digitales hacia el desarrollo 
									de aplicaciones.
								</div>
							</div>
							<!-- end post-info -->
							<!-- begin read-btn-container -->
							<!-- <div class="read-btn-container">
								<a href="post_detail.html" class="read-btn">Read More <i class="fa fa-angle-double-right"></i></a>
							</div> -->
							<!-- end read-btn-container -->
						</div>
						<!-- end post-content -->
					</li>
					<li>
						<!-- begin post-left-info -->
						<div class="post-left-info">
							<!-- <div class="post-date">
								<span class="day">18</span>
								<span class="month">OCT</span>
							</div>
							<div class="post-likes">
								<i class="fa fa-heart text-theme"></i>
								<span class="number">1,743</span>
							</div> -->
						</div>
						<!-- end post-left-info -->
						<!-- begin post-content -->
						<div class="post-content">
							<!-- begin post-video -->
							<div class="post-video">
								<div class="ratio ratio-16x9">
									<iframe width="560" height="315" src="https://www.youtube.com/embed/1shE4lFZeZk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
								</div>
							</div>
							<!-- end post-video -->
							<!-- begin post-info -->
							<div class="post-info">
								<h4 class="post-title">
									<a>¿Qué es un bootcamp?</a>
								</h4>
								<!-- <div class="post-by">
									Posted By <a href="#">admin</a> <span class="divider">|</span> <a href="#">Movies</a>, <a href="#">Minions</a>, <a href="#">Trailer</a> <span class="divider">|</span> 1,292 Comments
								</div> -->
								<div class="post-desc">
									El bootcamp es un modelo de cursos intensivos para el aprendizaje virtual, en el que los estudiantes recién egresados pueden inscribirse 
									y así aprovechar los recursos que brinda esta herramienta para potenciar sus competencias profesionales.
								</div>
							</div>
							<!-- end post-info -->
							<!-- begin read-btn-container -->
							<!-- <div class="read-btn-container">
								<a href="post_detail.html">Read More <i class="fa fa-angle-double-right"></i></a>
							</div> -->
							<!-- end read-btn-container -->
						</div>
						<!-- end post-content -->
					</li>
					<li>
						<!-- begin post-left-info -->
						<div class="post-left-info">
							<!-- <div class="post-date">
								<span class="day">12</span>
								<span class="month">OCT</span>
							</div>
							<div class="post-likes">
								<i class="fa fa-heart text-theme"></i>
								<span class="number">3,673</span>
							</div> -->
						</div>
						<!-- end post-left-info -->
						<!-- begin post-content -->
						<div class="post-content">
							<!-- begin blockquote -->
							<blockquote>
								“Un buen bootcamp no sólo enseña a programar de acuerdo a la tecnología elegida, sino que proyecta a sus alumnos hacia un conocimiento específico.”
							</blockquote>
							<!-- end blockquote -->
							<!-- begin post-info -->
							<div class="post-info">
								<h4 class="post-title">
									<a>Nuestros valores</a>
								</h4>
								<!-- <div class="post-by">
									Posted By <a href="#">admin</a> <span class="divider">|</span> <a href="#">Animals</a>, <a href="#">Mountain</a>, <a href="#">Natural</a> <span class="divider">|</span> 2 Comments
								</div> -->
								<div class="post-desc">
									<h6 class="post-title">
										<a>Calidad Sobre Cantidad</a>
									</h6>
									Esa es la clave de nuestra filosofía. Nos esforzamos por fortalecer nuestros procesos 
									y ofrecer el mejor servicio para conseguir candidatos de la más alta calidad. 
								</div>
								<div class="post-desc">
									<h6 class="post-title">
										<a>Grandes Relaciones Interpersonales</a>
									</h6>
									Construimos relaciones sólidas y de confianza con las organizaciones, al igual 
									que el fomento de la comunicación entre nuestros miembros.
								</div>
								<div class="post-desc">
									<h6 class="post-title">
										<a>Equipo Sobre Individuos</a>
									</h6>
									Impulsamos el trabajo en equipo.  Creemos que las grandes cosas solo se pueden lograr 
									a través de un grupo de trabajo unido y sostenible.  El punto de vista e iniciativa 
									de cada uno contribuye al crecimiento y será tenida en cuenta.
								</div>
							</div>
							<!-- end post-info -->
							<!-- begin read-btn-container -->
							<!-- <div class="read-btn-container">
								<a href="post_detail.html" class="read-btn">Read More <i class="fa fa-angle-double-right"></i></a>
							</div> -->
							<!-- begin read-btn-container -->
						</div>
						<!-- end post-content -->
					</li>
				</ul>
				<!-- end post-list -->
				<div class="section-container">
					<!-- begin pagination -->
					<!-- <div class="pagination-container">
						<ul class="pagination justify-content-center">
							<li class="page-item disabled"><a class="page-link" href="javascript:;">Prev</a></li>
							<li class="page-item active"><a class="page-link" href="javascript:;">1</a></li>
							<li class="page-item"><a class="page-link" href="javascript:;">2</a></li>
							<li class="page-item"><a class="page-link" href="javascript:;">3</a></li>
							<li class="page-item"><span class="text">...</span></li>
							<li class="page-item"><a class="page-link" href="javascript:;">1797</a></li>
							<li class="page-item"><a class="page-link" href="javascript:;">Next</a></li>
						</ul>
					</div> -->
					<!-- end pagination -->
				</div>
			</div>
			<!-- end col-9 -->
			<!-- begin col-3 -->
			<div class="col-lg-3">
				<!-- begin section-container -->
				<div class="section-container">					
					<form action="{% url 'Buscar_bootcamp' %}" method="GET">
						<div class="input-group sidebar-search">
							<input type="text" name="boot" class="form-control" placeholder="Buscar Bootcamp..." />
							<button class="btn btn-dark" type="submit"><i class="fa fa-search"></i></button>							
						</div>						
					</form>
					{% if mensaje_error %}                                              
						<div class="alert alert-danger d-flex align-items-center" role="alert">
							<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
							<strong>{{mensaje_error}}</strong>
							<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
						</div>                                                                          
					{% endif %}     
				</div>
				<!-- end section-container --> 
				<!-- begin section-container -->
				<div class="section-container">
					<h4 class="section-title"><span>Categorías Bootcamp</span></h4>
					<ul class="sidebar-list">
						{% for categ in tipo_categBd %}
                            <li><a href="/bootcamps/page/1/">{{categ.nombre}}</a></li>
                        {% endfor %}						
					</ul>
				</div>
				<!-- end section-container -->
				<!-- begin section-container -->
				<div class="section-container">
					<h4 class="section-title"><span>Blogs Recientes</span></h4>
					<ul class="sidebar-recent-post">
						{% for blog in blogs %}
						<li>
							<div class="info">
								<h4 class="title"><a href="/blog/page/1/">{{blog.titulo}}</a></h4>
								<div class="date">{{blog.created|date:'d N Y'}}</div>
							</div>
						</li>	
						{% endfor %}					
					</ul>
				</div>
				<!-- end section-container -->
				<!-- begin section-container -->
				<div class="section-container">
					<h4 class="section-title"><span>Categorías Blogs</span></h4>
						<ul class="sidebar-list">
							{% for categoria in categBd %}
								<li><a href="{% url 'categoria' categoria.id %}">{{categoria.nombre}}</a></li>
							{% endfor %}
						</ul>
				</div>
				<!-- end section-container -->
				<!-- begin section-container -->
				<div class="section-container">
					<h4 class="section-title"><span>Síganos</span></h4>
					<ul class="sidebar-social-list">
						<li><a href="https://www.facebook.com/universidaddelvalle/"><i class="fab fa-facebook"></i></a></li>
						<li><a href="https://www.youtube.com/user/universidaddelvalle1"><i class="fab fa-youtube"></i></a></li>
						<li><a href="https://www.instagram.com/univallecol/?hl=es"><i class="fab fa-instagram"></i></a></li>
						<li><a href="https://twitter.com/UnivalleCol?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fab fa-twitter"></i></a></li>
						<li><a href="https://www.linkedin.com/school/universidad-del-valle/?viewAsMember=true"><i class="fab fa-linkedin"></i></a></li>
					</ul>
				</div>
				<!-- end section-container -->
			</div>
			<!-- end col-3 -->
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
</div>
<!-- end #content -->


{% endblock %}